// Mixins
@import "mixins";

// Style
body {
  background-color: white;
  font-family: $sans;
}

p {
  font-size: 2em;
  font-weight: 300;
  color: #222;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $green;
  border-bottom: 2px dotted $green;

  &:hover {
    border-bottom: 2px solid $green;
  }
}

.container {
  max-width: 750px;
  width: 90%;
  margin: auto;
  margin-top: 5em;
}

.draggable {
  cursor: move;
}

.links {
  margin: 4em 0;

  a {
    color: $dark-grey;
    border-bottom: 1px solid $dark-grey;
    @include opacity(0.6);
    @include transition(0.1s opacity);
    cursor: pointer;

    &:hover {
      @include opacity(1);
    }
  }
}
